/* Hello World CSS */

/* don't forget to validate at https://jigsaw.w3.org/css-validator/ */

body {
  /*background:url("light.jpg");*/
  background-color: #373737;
  background-size: cover;
  font-size: 16px;
  height: 100vh; /* trick to make the "page" the full height */
  text-align: center;
}

img { 
  width: 85%;
  height: auto;
  border: 4px solid white;
}

p {
    font-size: 2em;
    color: rgb(255, 153, 0);
}

#angry-face {
    color: #990099;
    font-size: 10em;
}
h1 {
      font-size: 3em;
      color: yellow;
}





